{% extends "base.html" %}
{% block title %} reset password {% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 mb-3 text-center justify-content-center">
    <div class="col">
        <div class="form-reset-pwd">
            <form method="POST">
                <img class="mb-4" src="/assets/icon/img/apple-touch-icon.png" alt="" width="180" height="180">
                <h1 class="h3 mb-3 fw-normal">Please email</h1>

                <div class="form-floating">
                    <input
                            required
                            type="email"
                            name="email"
                            class="form-control m-1"
                            id="floatingInput"
                            placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>

                <button class="btn btn-primary w-100 mt-2" type="submit">send to email</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
